<template>
<DocumentList />
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        DocumentList: () => import( /* webpackChunkName: "SearchContact" */ `../components/DocumentList`)
    },
};
</script>