<template>
<ForgotPwd />
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        ForgotPwd: () => import( /* webpackChunkName: "SearchContact" */ `../components/ForgotPwd`)
    },
};
</script>