<template>
<Keywords />
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        Keywords: () => import( /* webpackChunkName: "SearchContact" */ `../components/Keywords`)
    },
};
</script>