<template>
<LoginForm />
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        LoginForm: () => import(`../components/LoginForm`)
    },
};
</script>