<template>
<LoginOutPage/>
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        LoginOutPage: () => import(`../components/LoginOutPage`)
    },
};
</script>