<template>
<SingInForm />
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        SingInForm: () => import( /* webpackChunkName: "SearchContact" */ `../components/SingInForm`)
    },
};
</script>