<template>
<UserInfo />
</template>

<script>
// import SearchContact from '../components/SearchContact';

export default {
    components: {
        UserInfo: () => import( `../components/UserInfo`)
    },
};
</script>