<template>
  <v-app id="inspire">
      <v-navigation-drawer v-if="isRevisionLoaded"
        v-model="drawerRight"
        app
        clipped
        right
      >
      <MenuRight/>
    </v-navigation-drawer>
    <v-navigation-drawer
      v-model="drawerLeft"
      app
      clipped
      left
    >
     
      <MenuLeft/>
    
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      clipped-right
      color="#eeeeee"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawerLeft = !drawerLeft" class="menu-icon"/>
      <img src="./assets/logo.png" class="logo-image"/>
      <v-toolbar-title class="logo-text"><a href="www.word-b.com">word-b.com</a></v-toolbar-title>
      <v-spacer />
      <v-app-bar-nav-icon @click.stop="drawerRight = !drawerRight" class="menu-icon" v-if="isRevisionLoaded"/>
      </v-app-bar>

 <router-view />
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          justify="center"
          align="center"
        >
          <v-col class="shrink">
            <v-content>
            </v-content>

          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-footer
      app
      color="#eeeeee"
    >
      <span class="info-text"><a href="#" @click="navigationRoute({ path: '/About' });">About</a> | <a href="#" @click="navigationRoute({ path: '/Terms' });">Terms and Conditions</a> | <a href="https://bitbucket.org/agnese_camellini/vuejs.word-b.com/issues/new">Tickets for Help</a></span>
      <v-spacer />
      <span class="info-text">&copy; 2021</span>
    </v-footer>
    <CookieConsent/>
  </v-app>
</template>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GGW3ETL1L3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GGW3ETL1L3');
</script>
<script>
import MenuRight from './components/MenuRight';
import MenuLeft from './components/MenuLeft';
import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
import { mapState, mapActions } from 'vuex';
import CookieConsent from "v-cookie-consent";
//import router from 'vue-router'

export default {
  name: 'App',

  props: {
      source: String,
    },
    data: () => ({
      drawerRight: null,
      drawerLeft: null,
      right: false,
      left: false
    }),

  components: {
    MenuRight,
    MenuLeft,
    CookieConsent
  },
  computed:{
    ...mapState(['isRevisionLoaded'])
  },
  methods:{
    ...mapActions(['changeActivateRevisionInterface']),
    navigationRoute(route) {
      this.changeActivateRevisionInterface(false);
      this.$router.push(route).catch(err => {
      // Ignore the vuex err regarding  navigating to the page they are already on.
      if (
        err.name !== 'NavigationDuplicated' &&
        !err.message.includes('Avoided redundant navigation to current location')
      ) {
        // But print any other errors to the console
        console.log(err);
      }
    })
    }
  }
};
</script>

<style scoped>
.logo-image{
  height: 35px;
  width: 50px;
   margin-right: 15px;
}
.logo-text{
  color:#3771c8;
}
.menu-icon{
  background-color:#3771c8;
  margin-right: 15px;
}
.info-text{
    color:#3771c8;
}
</style>
