<template>
  <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 22rem;margin-left: 35%;">
            <div class="card-header">
                        ABOUT
            </div>
            <div class="card-body">
              <p>This website is made for automatic and human proofreading, it is born from an idea of Agnese Camellini (<a href="http://aboutcomments.wordpress.com">aboutcomments.wordpress.com</a>) and from an open source project with <a href="https://bitbucket.org/agnese_camellini/peerreview.word-b.com/src/master/">a repo for the back end</a> and <a href="https://bitbucket.org/agnese_camellini/vuejs.word-b.com/src/master/">a repo for the front end</a>. Some developer and software architects have already contributed to the project so if you want to give your contribution you can contact Agnese at the contact page of her portfolio website, she will add you to the repos and begin speaking to you about the architecture and the future development of the project.</p>
              <p>Many thanks go to Pedro Vergara (<a href="http://www.logos.net">Logos</a>) for the motivation he gaved, and to every developer that has contributed to the project.</p>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
import {mapActions } from 'vuex'
//import router from '../router';
//import axios from 'axios'
//import { config } from '../config';

export default {
  name: 'About',
  metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'About',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Automatic proofreading at word-b.com"
          }
      ]
    },
  data: () => ({
    event : "About"
  }),
  mounted() {
    this.checkAccountData(this.event)
  },  
  methods: {
    ...mapActions(['checkAccountData'])
  }
}
</script>


<style scoped>
.card-header{
  color: #3771b8;
}
.btn.btn{
  color:#3771c8;
}
</style>