<template>
  <div class="row">
  <div class="col-md-12">
   <div class="card" style="width: 22rem;margin-left: 35%;">
       <v-alert type="success" :value="processingLoginError.confirmationErrorOK">
            Confirmation success!
          </v-alert>
          <v-alert type="error" :value="processingLoginError.confirmationErrorKO">
            Confirmation Error!
          </v-alert>
          <div class="card-header">
            Account confirmation
          </div>
          <div class="card-body" v-show="processingLoginError.confirmationErrorOK">
              Your account is now being confirmed.
          </div>
    </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import axios from "axios";
import { config } from '../config';
import { mapActions } from 'vuex';

export default {
    name: "acccountconfirmation",
    computed: {
    ...mapState(['processingLoginError'])
    },
    methods: {
      ...mapActions(['accountConfirmation'])
    },
    mounted() {
      let token_confirm = this.$route.query.token_confirm
        console.log("Token: "+ token_confirm)
        //console.log("Token: "+ this.$route.query.token_confirm)
              axios
        .get(config.$api_url+'user/list_username/?username=anonymous')
        .then(response => {
          var data = response.data;
          axios.defaults.headers.common['access'] = data.user.access_token;
          axios
            .get(config.$api_url + 'user/token_confirm?token_confirm='+token_confirm)
            .then((response) => {
              console.log("Response confirmation: " + JSON.stringify(response.data))
              var data = response.data;
              if (data.bool==true) {
                  data.user.flg_confirm = true;
                  this.accountConfirmation(data.user)
              } else {
                  this.processingLoginError.confirmationErrorOK = false
                  this.processingLoginError.confirmationErrorKO = true
              }
            })
            .catch(function (error) {
                console.log(error);
            })
        })
    }
}
</script>