<template>
<div class="row">
  <div class="col-md-12">
         
     <div class="card" style="width: 22rem;margin-left: 35%;">
          <v-alert type="error" :value="documentKO">
            Your document has been deleted or is not existent!
          </v-alert>
    </div>
  </div>
</div>        
</template>

<script>
import { mapState } from 'vuex';
// import axios from "axios";
// import { config } from '../config';
import { mapActions } from 'vuex';
// import router from '../router';

export default {
    name: "anonymousDocument",
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Anonymous User Document',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Permalink to your document and to the analysis already made to the document"
          }
      ]
    },
    data:()=>({
      event: "anonymousDocument"
    }),
    computed: {
    ...mapState(['processingLoginError', 'documentKO'])
    },
    methods: {
      ...mapActions(['checkAccountData','loadDocumentDetails', 'changeAnonymousDocumentState', 'searchAnonymousDocument'])
    },
    mounted() {
      let document = this.$route.query.name;
      this.checkAccountData(this.event)
      this.searchAnonymousDocument(document);
    }
}
</script>