<template>

      <table class="table">
              <tbody>
                <tr v-for="p in category" v-bind:key="p.id">
                  <td>{{p.category_id.name}}</td><td></td>
                </tr>
              </tbody>
      </table>

</template>

<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
export default {
  name: 'CategorytList',
  mounted () {
    this.$store.dispatch('loadCategory')
  },
  computed: mapState([
    'category'
  ]),
      methods : {
    ...mapActions(['loadCategory'])
    }
}
</script>
