<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex
        xs12
        mb-5
      >
        <h2 class="headline font-weight-bold mb-3">{{title}}</h2>
        <h4 class="headline font-weight-italic mb-3">Revision Number: {{documentDetails.number}}</h4>

      </v-flex>
      <div class="table">
              <div class="row">
                <div class="card" style="width: 60rem;margin-left: 15%;margin-right: 15%;">
                  <div class="card-header" v-if="anonym">
                    Permalink: www.word-b.com/#/a_user_document?name={{title}} - <a href="#" class="card-header" @click="deleteAnonymousDocument(documentDetails.document_id)">Delete</a>
                  </div>
                <div class="card-body">
                  <p>
                    <span>{{documentDetails.content}}</span>
                  </p>
                </div>
                </div>
                </div>
              </div>
    </v-layout>
  </v-container>
</template>

<script>
// import Vue from 'vue';
import { mapState } from 'vuex';
import { mapActions } from 'vuex';
import { config } from '../config';
import axios from 'axios';
import router from '../router';

export default {
  name: 'DocumentDetails',
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Document Details',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Details about the analysis of your document, the content and the revisions"
          }
      ]
    },
  data: () => ({
    title: null
    }),
    mounted() {
      this.checkAccountData('DocumentDetails');
      this.retrieveDocumentNameAnonymous();
  },
  computed: {
      ...mapState(["documentDetails", 'activeAnonymDocumentInterface', 'docRevision']),
      docDet : {
      get(){
        return this.documentDetails;
      },
      set(val){
        console.log('SET userIdCookie: '+val);
        this.docDet=val;
      }
    },
    anonym :{

      get(){
        return this.activeAnonymDocumentInterface;
      },
      set(val){
        this.anonym=val;
      }
    }
    },
  methods : {
    ...mapActions(['checkAccountData', 'loadDocumentDetails']),
    retrieveDocumentNameAnonymous: function(){
        if(this.docDet.document_id != undefined){
          axios
            .get(config.$api_url + 'document/'+ this.docDet.document_id+'/')
            .then((response) => {
              this.title = response.data.name;
              })
            .catch(function (error) {
                console.log(error);
            }) 
        }
      },
      async deleteAnonymousDocument(id){
        axios
        .delete(config.$api_url+'document/'+id+'/')
        .then((response) =>{
           if(response.data == 'success'){
                router.push({path: '/NewDocument'})
          } 
        });
      }
  }
}
</script>
<style scoped>
.card-header{
  color: #3771b8;
}
</style>