<template>
  <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 22rem;margin-left: 35%;">
            <div class="card-header">
                        YOUR DOCUMENTS
            </div>
            <div class="card-body">
              <p>Below you can find all the documents you have uploaded with the current account, you can delete the data whenever you want. To add a document go to Upload Files on the left.</p>
                <span v-for="p in documents" v-bind:key="p.id">
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title><span><a href="#" class="btn btn"  @click="goToDocumentDetail(p.id)">{{p.name}}</a> <a href="#" class="btn btn"  @click="deleteDocument(p.id)">Del</a></span></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </span>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import router from '../router';
import axios from 'axios'
import { config } from '../config';

export default {
  name: 'DocumentList',
  metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Docuemnts List',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "This is the list of all the documents you have uploaded to word-b.com with the current account"
          }
      ]
    },
  data: () => ({
    event : "DocumentList"
  }),
  mounted() {
    this.checkAccountData(this.event)
  },
  computed: {
    ...mapState(["documentList", "accountData", "activateRevisionInterface"]),
    userIdCookie : {
      get(){
        console.log('GET userIdCookie: '+this.accountData[0].id);
        return this.accountData[0].id;
      },
      set(val){
        console.log('SET userIdCookie: '+val);
        this.accountData[0].id=val;
      }
    },
    documents:{
      get(){
        for(var i=0;i<this.documentList.length; i++){
          console.log("document id: " + this.documentList[i].id+ " document name: " +this.$store.state.documentList[i].name);
        }
        return this.documentList;
      },
      set(val){
        this.documentList = val;
      }
    },
  },
  methods: {
    ...mapActions(['loadDocumentList' ,'checkAccountData', 'loadDocumentDetails']),
    async goToDocumentDetail(id){
      console.log("Get request versions data: " + config.$api_url+'document/'+id+'/')
      axios
        .get(config.$api_url+'revisions/revision_by_document/?document_id='+id+'')
        .then(response => {
          
           if(response.data['detail'] != 'Not found.'){
             if(this.accountData[0].id){
              if(this.userIdCookie == this.accountData[0].id){
                this.loadDocumentDetails(response.data[0].id);
              }else{
                router.push({path: '/NewDocument'})
              }
            }else{
                router.push({path: '/NewDocument'})
            } 
          } 
        });
    },
    async deleteDocument(id){
      axios
        .delete(config.$api_url+'document/'+id+'/')
        .then((response) =>{
           if(response.data == 'success'){
             if(this.accountData[0].id){
              if(this.userIdCookie == this.accountData[0].id){
                this.loadDocumentList(this.accountData[0].id);
              }else{
                router.push({path: '/NewDocument'})
              }
            }else{
                router.push({path: '/NewDocument'})
            } 
          } 
        });
    }
  },
}
</script>


<style scoped>
.card-header{
  color: #3771b8;
}
.btn.btn{
  color:#3771c8;
}
</style>