<template>
  <div class="row">
        <div class="col-md-12">
           
            <div class="card" style="width: 22rem;margin-left: 35%;">
                 <v-alert type="success" :value="processingLoginError.pwdErrorOK">
                    We have sent you an email with a confirmation link to change your password!
                </v-alert>
                <v-alert type="error" :value="processingLoginError.pwdErrorKO">
                    There was an error sending the email to change your password.
                </v-alert>
                <div class="card-header">
                    Forgot Password
                </div>
                <div class="card-body">
                    <p>Insert the email that you have registered with word-b.com to obtain the link of password changing and a remainder of the username you choosed:</p>
                    <v-form ref="forgotPWDValidation">
                    <v-text-field v-model="inputEmailName" label="E-Mail" :rules="[rules.required,rules.mail]" :error-messages="errors2"></v-text-field>
                    <a href="#" class="btn btn"  @click="sendPwdChangeEmail()">Rescue Password</a>
                    </v-form>
                </div>
            </div>
  </div>
  </div>
</template>
<script>

import axios from "axios";
import { config } from '../config';
import {
    mapState,
    mapActions
} from "vuex";
//import router from '../router';

export default {
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Forgot Password Form',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Password reset and username recovery page at word-b.com"
          }
      ]
    },
    data: () =>{
        return {
            emailAbsent : false,
            rules: {
                required: value => !!value || 'Required.',
                mail: value => value.match("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$") || "Email not valid"
            },
            inputEmailName:'',
            errors2:[]
        }
    },
    mounted(){
        this.checkAccountData("ForgotPwd");
    },
    watch: {
    inputEmailName (val) {
        axios.get(config.$api_url+'user/get_by_email/?email='+val).then(valid => {
          this.errors2 = valid.data.bool ? [] : ["We don't have any account registered with this email"]
        })
    }
  },
    computed:{
                ...mapState(['userSingInForm', 'processingLoginError']),
    },
    methods:{
        ...mapActions(["getToken", 'checkAccountData']),
        async sendPwdChangeEmail(){
            this.userSingInForm.email = this.inputEmailName;
            if (this.$refs.forgotPWDValidation.validate() && this.errors2.length <= 0) {
                this.getToken();
            }
        }  
    }
}
</script>