<template>
  <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 22rem;margin-left: 35%;">
            <div class="card-header">
                        YOUR KEYWORDS
            </div>
            <div class="card-body">
                <p>
                  Here you can see, search and remove your keywords from our databases. To add new keywords you have to upload a documents that speaks about the argument.
                </p>
                <span v-for="p in list" v-bind:key="p.id">
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title><span><a href="#" class="btn btn">{{p.category_id.name}}</a><a href="#" class="btn btn" @click="deleteConnection(p.id)">Del</a></span></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </span>
                <span class="pagination">
                  <a v-if="previous!=null" @click="goToPage(previous)" class="btn btn">Previous Page</a>
                  <a v-if="next!=null" @click="goToPage(next)" class="btn btn">Next Page</a>
                </span>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
//import router from '../router';
import axios from 'axios'
import { config } from '../config';
import router from '../router';

export default {
  name: 'Keywords',
      metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Keyword List Interface',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Here we list every keyword extracted from the analysis of your document."
          }
      ]
    },
  data: () => ({
    event : "Keywords"
  }),
  mounted() {
    this.checkAccountData(this.event);
  },
  computed: {
    ...mapState(["keyList","nextLink","previousLink", "accountData"]),
    userIdCookie : {
      get(){
        console.log('GET userIdCookie: '+this.accountData[0].id);
        return this.accountData[0].id;
      },
      set(val){
        console.log('SET userIdCookie: '+val);
        this.accountData[0].id=val;
      }
    },
    previous :{
      get(){
        return this.previousLink;
      },
      set(val){
        this.previousLink=val;
      }
    },
    next :{
      get(){
        return this.nextLink;
      },
      set(val){
        this.nextLink=val;
      }
    },
    list :{
      get(){
        console.log("keyList getter:"+this.keyList)
        return this.keyList;
      },
      set(val){
        console.log("keyList setter:"+this.keyList)
        this.keyList=val;
      }
    }
  },
  methods: {
    ...mapActions(['checkAccountData','obtainNextOrPreviousPageKeyword', 'obtainKeywordList']),
    async goToPage(link){
      this.obtainNextOrPreviousPageKeyword(link);
    },
    async deleteConnection(id){
      axios
        .delete(config.$api_url+'user-category/'+id+'/')
        .then((response) =>{
           if(response.data == 'success'){
             if(this.accountData[0].id){
              if(this.userIdCookie == this.accountData[0].id){
                this.obtainKeywordList(this.accountData[0].id);
              }else{
                router.push({path: '/NewDocument'})
              }
            }else{
              router.push({path: '/NewDocument'})
            } 
          } 
        });
    }
  },
}
</script>


<style scoped>
.card-header{
  color: #3771b8;
}
.btn.btn{
  border: 1 px solid #3771c8;
  color:#3771c8;
}
.pagination{
  bacKground-color: #eeeeee;
}
</style>