<template>
  <div class="row">
        <div class="col-md-12">
        <div class="card" style="width: 22rem;margin-left: 35%;">
          <v-alert type="success" :value="processingLoginError.loginErrorOK">
            Login success!
          </v-alert>
          <v-alert type="error" :value="processingLoginError.loginErrorKO">
            Login Error!
          </v-alert>
          <v-alert type="error" :value="processingLoginError.emailConfirmedKO">
            You have not confirmed your email <a href="#" @click="sendNewEmail()">click here</a> to send a new confirmation email!
          </v-alert>
          <v-alert type="success" :value="processingLoginError.goToInboxOK">
            Confirmation email sent! Check your inbox.
          </v-alert>
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <v-form ref="loginValidation">
              <v-text-field required :rules="user" v-model="username" label="User Name"></v-text-field>
              <v-text-field :rules="psw" v-model="pwd" label="Password" type="Password" ></v-text-field>
              <a href="#" class="btn btn"  @click="login()">Login</a>
              <a href="#" class="btn btn" @click="forgotPassword()"> Forgot Password</a>
            </v-form>
          </div>
    </div>
  </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
import router from '../router';
export default {
  name: 'LoginForm',
  data: () => ({
    alertFileValidate : false,
    user: [
              v => !!v || 'Username is required'
            ],
    psw: [
          v => !!v || 'Password is required'
        ]
    }),
  computed: {
    ...mapState(['userLoginForm', 'processingLoginError']),
    username: { 
      get(){
        return this.userLoginForm.username;
      },
      set(val) {
        this.SET_USER_NAME(val);
      }
    },
    pwd:{
      get(){
        return this.userLoginForm.pwd;
      },
      set(val){
        this.SET_USER_PWD(val);
      }
    }
  },
  methods : {
    ...mapActions(["userLogin", "SET_USER_NAME", "SET_USER_PWD", "changeAnonymousDocumentState", "resendConfirmationEmail"]),
    login(){
      
      if (this.$refs.loginValidation.validate()) {
        this.changeAnonymousDocumentState(false);
        this.userLogin();
      }
    },
    forgotPassword(){
      router.push({ path: '/forgotPwd' });
    },
    sendNewEmail(){
      this.resendConfirmationEmail();
    }
  }
}
</script>

<style scoped>
.card-header{
  background-color:#eeeeee;
  color: #3771c8;
}
.btn.btn{
  color:#3771c8;
}
</style>
