<template>
  <div class="row">
        <div class="col-md-12">
        <div class="card" style="width: 22rem;margin-left: 35%;">
          <v-alert type="success" :value="processingLoginError.logoutErrorOK">
            Logout success!
          </v-alert>
          <v-alert type="error" :value="processingLoginError.logoutErrorKO">
            Logout Error!
          </v-alert>
          <div class="card-header">
            Logout
          </div>
          <div class="card-body">
              You are logging out of word-b.com.
          </div>
    </div>
  </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
// import router from '../router';
export default {
  name: 'LoginOutPage',
  data: () => ({
        alertFileValidate : false
    }),
  computed: {
    ...mapState(['processingLoginError'])
    },
  mounted () {
      this.userLogout();
    //   this.$store.dispatch('checkAccountData')
  },

  methods : {
    ...mapActions(["userLogout"]),
    logout(){
        this.userLogout()
    }
  }
};
</script>

<style scoped>
.card-header{
  background-color:#eeeeee;
  color: #3771c8;
}
</style>
