<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex
        xs12
        mb-5
      >
      <div>
        <div v-if="!isLoggedIn"><span @click="navigationRoute({ path: '/singInForm' });"><v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text"> Sign in </v-btn></span><hr/></div>
        <div v-if="!isLoggedIn"><span @click="navigationRoute({ path: '/loginForm' });"><v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text"> Login  </v-btn></span></div>
        <div v-if="isLoggedIn"><span @click="navigationRoute({ path: '/logOut' });"><v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text"> Logout</v-btn></span></div><hr/>
        <span @click="navigationRoute({ path: '/newDocument' });"> <v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text">Upload Files</v-btn></span><hr/>
        <span v-if="isLoggedIn"><span @click="navigationRoute({ path: '/DocumentList' });"> <v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text">Document List</v-btn></span><hr/></span>
        <span v-if="isLoggedIn"><span @click="navigationRoute({ path: '/UserInfo' });"> <v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text">User Info</v-btn></span><hr/></span>
        <span v-if="isLoggedIn"><span @click="navigationRoute({ path: '/Keywords' });"> <v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text">Keywords</v-btn></span><hr/></span>
        <span v-if="isLoggedIn"><a href="https://www.paypal.com/donate?hosted_button_id=KS8WXHCQBKXTU" alt="Donate" target="_blank"><v-btn variant="info" rounded width="70%"  color="#3771c8" class="info-text">Donate</v-btn></a></span>
      </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// import DocumentList from './DocumentList';
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
export default {
  name: 'MenuLeft',
  // components: {
    //  DocumentList
    // },
  data: () => ({
  }),
  computed: {
      ...mapState(['isLoggedIn'])
  },
  methods: {
    ...mapActions(['changeActivateRevisionInterface']),
    navigationRoute(route) {
      this.changeActivateRevisionInterface(false);
      this.$router.push(route).catch(err => {
      // Ignore the vuex err regarding  navigating to the page they are already on.
      if (
        err.name !== 'NavigationDuplicated' &&
        !err.message.includes('Avoided redundant navigation to current location')
      ) {
        // But print any other errors to the console
        console.log(err);
      }
    });
    }
  }
}
</script>

<style scoped>
.info-text{
    color:#eeeeee;
}
</style>