<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex
        xs12
        mb-5
      >
      <div>
        <v-btn v-b-toggle.collapse-1 variant="info" rounded width="70%"  color="primary">Revisions</v-btn>
        <b-collapse id="collapse-1" accordion="my-accordion" role="tabpanel" class="mt-1">
            <RevisionList/>
        </b-collapse>
      </div>
      <hr>
      <div>
        <v-btn v-b-toggle.collapse-2 variant="info" rounded width="70%"  color="primary">Named Entities</v-btn>
        <b-collapse id="collapse-2" accordion="my-accordion" role="tabpanel" class="mt-2">
            <CategoryList/>
        </b-collapse>
      </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CategoryList from './CategoryList';
import RevisionList from './RevisionList';
export default {
  name: 'MenuRight',
  components: {
     CategoryList,
     RevisionList
    }
}
</script>
