<template>
  <div class="row">
  <div class="col-md-12">
   <div class="card" style="width: 22rem;margin-left: 35%;">
     <v-alert type="error" :value="mimetypeOK">
            Error with the extesion of the uploaded file!
        </v-alert>
          <div v-if="!activateRevisionInterface" class="card-header">
            UPLOAD DOCUMENT
          </div>
          <div v-else class="card-header">
            UPLOAD REVISION
          </div>
          <div class="card-body">
            <p>
              Here you can upload your document or revision (PDF or DOCX) to be analyzed (only english written documents) by our engine to extract keywords.
            </p>
            <v-alert dense outlined type="error" v-show="alertFileValidate">
                File extension not permitted!
              </v-alert>
              <v-text-field v-model="text.title" label="Title" :rules="[rules.required]" v-if="!activateRevisionInterface"></v-text-field>
              <v-file-input show-size label="Upload Document" v-model="text.name" :rules="[rules.required]"></v-file-input>

            <a href="#" @click="save" :loading="isProcessing" class="btn btn" >Process Document</a>
            <v-progress-linear
                :active="isProcessing"
                :indeterminate="isProcessing"
                absolute
                bottom
                color="#3771c8"
              ></v-progress-linear>
          </div>
    </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
export default {
  name: 'NewDocument',
  metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Upload file',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Here you can upload your document or revision through the specific form and start analyzing it!"
          }
      ]
    },
  data (){
    return {
      text : {
        name : null,
        user : '',
        title : ""
      },
      //validExtantions : ['PDF', 'pdf', 'DOC', 'doc', 'docx'],
      validExtantions : ['PDF', 'pdf','docx', 'DOCX'],
      alertFileValidate : null,
      rules: {
          required: value => !!value || 'Required.'
        },
    }
  },
  mounted () {
    console.log("checkaccountData to be called");
    this.checkAccountData("NewDocument");
  },
  computed: {
        ...mapState(["accountData", "isProcessing", "docRevision", "activateRevisionInterface", 'mimetypeOK'])
    },
  methods : {
    ...mapActions(['checkAccountData', 'changeAnonymousDocumentState', 'resetMimeTypeError']),
    save(){
      console.log("Upload accoutn data:" + JSON.stringify(this.accountData[0]))
      this.resetMimeTypeError();
      this.text.user = this.accountData[0].id;
      var vm = this
      var fileName = vm.text.name.name;
      console.log("File name:" + fileName);
      var ext = fileName.substring(fileName.lastIndexOf('.') + 1)

      if (this.validateExtantion(ext) >= 0) {
          const uploadForm = new FormData()
          if((this.accountData && this.accountData.length>0) && this.accountData[0].username == 'anonymous'){
            var date = new Date();
            uploadForm.append('title', vm.text.title+date.getTime());
            this.changeAnonymousDocumentState(true);
          } else {
            this.changeAnonymousDocumentState(false);
            uploadForm.append('title', vm.text.title)
          }
          uploadForm.append('file', vm.text.name)
          uploadForm.append('user', this.text.user)
          if(this.docRevision.document_id!=null && this.activateRevisionInterface){
            console.log("save with document id:"+this.docRevision.document_id )
            uploadForm.append('title', "NewRevision")
            uploadForm.append('document', this.docRevision.document_id);
            this.$store.dispatch('insertRevison', uploadForm);
          } else{
            this.$store.dispatch('insertDocument', uploadForm)
          }

      } else {
        this.alertFileValidate = true
      }
    },
    validateExtantion(ext) {

      return this.validExtantions.indexOf(ext)

    }
  }
};
</script>
<style scoped>
.card-header{
  background-color:#eeeeee;
  color: #3771c8;
}
.btn.btn{
  color:#3771c8;
}
</style>