<template>
  <div class="row">
    <div class="col-md-12">
    <div class="card" style="width: 22rem;margin-left: 35%;">
        <v-alert type="success" :value="processingLoginError.pwdConfirmOK">
                Change Password success!
            </v-alert>
            <v-alert type="error" :value="processingLoginError.pwdConfirmKO">
                There was a problem with your request.
            </v-alert>
            <div class="card-header">
                TYPE HERE YOUR NEW PASSWORD
            </div>
            <div class="card-body">
                <v-text-field v-model="pwd" label="New Password" :rules="[rules.required]" type="Password"></v-text-field>
                <v-text-field label="Confirm Password" :rules="[rules.required, matcherPassword]" type="Password"></v-text-field>
                <a href="#" class="btn btn"  @click="reset_password($route.query.token_cng_pwd)" :loading="isProcessing">Reset Password</a>
                <v-progress-linear
                    :active="isProcessing"
                    :indeterminate="isProcessing"
                    absolute
                    bottom
                    color="#3771c8"
                ></v-progress-linear>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from "axios"
import { config } from '../config';
import { mapActions } from 'vuex'

export default {
    name: "PwdConfirm",
    metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Password Change',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "If your code is valid you can change your password here"
          }
      ]
    },
    data: () => ({
        pwd : "",
        rules: {
        required: value => !!value || 'Required.'
    },
    }),
    mounted(){
        this.checkAccountData('PwdConfirm');
    },
    computed: {
        ...mapState(['accountData', 'processingLoginError', 'isProcessing'])
    },
    methods:{
        ...mapActions(['pwdConfirm', 'setNewPwd', 'checkAccountData']),
        matcherPassword(value) {
            if(value === this.pwd){
                return true;
            } else{
                return 'Passwords do not match!';
            }
        },
        async reset_password(token){
            axios
            .get(config.$api_url + 'user/token_cng_pwd?token_cng_pwd='+token)
            .then((response) => {
                console.log("Response confirmation: " + JSON.stringify(response.data))
                var data = response.data;
                if (data.bool == true) {
                    this.setNewPwd({pwd: this.pwd, account: data.user});
                } else{
                    this.pwdConfirm([], false);
                }
            })
            .catch(function (error) {
                console.log(error);
            })
        }
    }
}
</script>
<style scoped>
.card-header{
  background-color:#eeeeee;
  color: #3771c8;
}
.btn.btn{
  color:#3771c8;
}
</style>