<template>

      <table class="table">
              <tbody>
                <tr v-for="p in revisions" v-bind:key="p.id">
                  <td><a href="#" @click="openRevision(p.id)">Revision number: {{p.number}}</a></td>
                </tr>
                <tr> <a class="btn btn" href="#" @click="addRevision()">Add revision</a></tr>
              </tbody>
      </table>

</template>

<script>
import { mapState } from 'vuex'
import { mapActions } from 'vuex'
import router from '../router'
export default {
  name: 'RevisionList',
    mounted () {
  },
  computed: mapState([
    'revisions', 'docRevision'
  ]),
      methods : {
    ...mapActions(['loadRevision','loadDocumentDetails', 'uploadRevision']),
    openRevision(id){
        this.loadDocumentDetails(id);
    },
    addRevision(){
      this.uploadRevision();
      router.push({ path: '/NewDocument' })
    }
  }
}
</script>