<template>
  <div class="row">
        <div class="col-md-12">
         
   <div class="card" style="width: 22rem;margin-left: 35%;">
      <v-alert type="success" :value="processingLoginError.confirmationErrorOK">
            Sign in success!
        </v-alert>
        <v-alert type="error" :value="processingLoginError.confirmationErrorKO">
            Sign in Error!
        </v-alert>
         <v-alert type="success" :value="processingLoginError.goToInboxOK">
            Confirmation email sent! Check your inbox.
          </v-alert>
          <div class="card-header">
            Sign In
          </div>
          <div class="card-body">
            <v-form ref="signInValidation">
            <v-text-field v-model="userProperties.name" label="Name" :rules="[rules.required]"></v-text-field>
            <v-text-field v-model="inputUserName" label="User Name" :rules="[rules.required]" :error-messages="errors"></v-text-field>
            <v-text-field v-model="inputEmailName" label="E-Mail" :rules="[rules.required, rules.mail]" :error-messages="errors2"></v-text-field>
            <v-text-field label="Confirm E-Mail" :rules="[rules.required, matcherEmail]"></v-text-field>
            <v-text-field v-model="userProperties.pwd" label="Password" :rules="[rules.required]" type="Password"></v-text-field>
            <v-text-field label="Confirm Password" :rules="[rules.required, matcherPassword]" type="Password"></v-text-field>
            <a href="#" class="btn btn" :loading="isProcessing" @click="save()">Salva</a>
               <v-progress-linear
                :active="isProcessing"
                :indeterminate="isProcessing"
                absolute
                bottom
                color="#3771c8"
              ></v-progress-linear>
            </v-form>
          </div>
    </div>
  </div>
  </div>
</template>

<script>
 import axios from "axios"
 import { config } from '../config';
import {
    mapState,
    mapActions
} from "vuex";
export default {
data: () => ({
        rules: {
          required: value => !!value || 'Required.',
          mail: value => value.match("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$") || "Email not valid"
        },
        userProperties: {},
        inputUserName: '',
        inputEmailName: '',
        errors: [],
        errors2: []
    }),
  computed: {
        ...mapState(['userSingInForm', 'processingLoginError', 'isProcessing'])
    },
  mounted () {
      this.checkAccountData('SingInForm'),
      this.userProperties.name = this.userSingInForm.name,
      this.userProperties.username = this.userSingInForm.username,
      this.userProperties.email = this.userSingInForm.email,
      this.userProperties.pwd = this.userSingInForm.pwd
  },
  watch: {
    inputUserName (val) {
        axios.get(config.$api_url+'user/list_username/?username='+val).then(valid => {
          this.errors = !valid.data.bool ? [] : ['Username already registered with an other account']
        })
    },
    inputEmailName (val) {
        axios.get(config.$api_url+'user/get_by_email/?email='+val).then(valid => {
          this.errors2 = !valid.data.bool ? [] : ['Email already registered with another account']
        })
    }
  },
  methods : {
    ...mapActions(["userSingIn", "checkAccountData"]),
    save(){
      if (this.$refs.signInValidation.validate() && this.errors.length <= 0 && this.errors2.length <= 0) {
        this.userProperties.username = this.inputUserName
        this.userProperties.email = this.inputEmailName
        this.userSingIn(this.userProperties)
      }
    },
    matcherEmail(value) {
            if(value === this.inputEmailName){
              return true;
            } else{
              return 'Emails do not match!';
            }
          },
    matcherPassword(value) {
            if(value === this.userProperties.pwd){
                return true;
              } else{
                return 'Passwords do not match!';
              }
          }
  }
};
</script>
<style scoped>
.card-header{
  background-color:#eeeeee;
  color: #3771c8;
}
.btn.btn{
  color:#3771c8;
}
</style>