<template>
  <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 22rem;margin-left: 35%;">
            <div class="card-header">
                        TERMS AND CONDITIONS
            </div>
            <div class="card-body">
              <p>We use Cookies for site statistics and normal account activity. Every user information is removable and editable, except for the insertion of new keywords, which has to be processed by our proofreading engine on a document to be inserted in the Interface.</p>
              <p>We do not share the contact information with anyone nor for marketing research purpose nor for statistics. Every statistic we perform on the access data is anonymous. The information extracted from you texts and documents is not used nor for analytics of other text nor for usage statistics, and they are entirely at your disposal with transparency.</p>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
//import router from '../router';
//import axios from 'axios'
//import { config } from '../config';

export default {
  name: 'About',
  metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'About',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "Automatic proofreading at word-b.com"
          }
      ]
    },
  data: () => ({
    event : "Terms"
  }),
  mounted() {
    this.checkAccountData(this.event)
  },  
  methods: {
    ...mapActions(['checkAccountData'])
  }
}
</script>


<style scoped>
.card-header{
  color: #3771b8;
}
.btn.btn{
  color:#3771c8;
}
</style>