<template>
  <div class="row">
        <div class="col-md-12">
         
   <div class="card" style="width: 22rem;margin-left: 35%;">
      <v-alert type="success" :value="processingLoginError.updateUserInfoOK">
            Update success!
        </v-alert>
        <v-alert type="error" :value="processingLoginError.updateUserInfoKO">
            Update Error!
        </v-alert>
         <v-alert type="success" :value="processingLoginError.goToInboxOK">
            Confirmation email sent! Check your inbox.
          </v-alert>
          <div class="card-header">
            User Info
          </div>
          <div class="card-body">
            <v-form ref="userInfoValidation">
            <v-text-field v-model="form.name" label="Name" :rules="[rules.required]"></v-text-field>
            <v-text-field v-model="inputUserName" label="User Name" :rules="[rules.required]" :error-messages="errors"></v-text-field>
            <v-text-field v-model="inputEmailName" label="E-Mail" :rules="[rules.required, rules.mail]" :error-messages="errors2"></v-text-field>
            <v-text-field label="Confirm E-Mail" :rules="[rules.required, matcherEmail]"></v-text-field>
            <v-text-field v-model="form.pwd" label="Password" :rules="[rules.required]" type="Password"></v-text-field>
            <v-text-field label="Confirm Password" :rules="[rules.required, matcherPassword]" type="Password"></v-text-field>
            <a href="#" class="btn btn" :loading="isProcessing" @click="save()">Save</a><a href="#" class="btn btn" :loading="isProcessing" @click="deleteUser()">Delete Account</a>
              <v-progress-linear
                :active="isProcessing"
                :indeterminate="isProcessing"
                absolute
                bottom
                color="#3771c8"
              ></v-progress-linear>
              </v-form>
          </div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from "axios"
import { config } from '../config';
import {
    mapState,
    mapActions
} from "vuex";
import router from '../router';
export default {
  metaInfo: {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'User Info',
      // all titles will be injected into this template
      titleTemplate: '%s | word-b.com',
      meta: [
          {
            vmid: "description",
            name: "description",
            content:
              "User basic access information and account deletion at word-b.com!"
          }
      ]
    },
data: () => ({
        dataEventDebugger : 0,
        rules: {
          required: value => !!value || 'Required.',
          mail: value => value.match("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$") || "Email not valid"
        },
        getUser : false,
        inputUserName: '',
        inputEmailName: '',
        form: {
          "name":"",
          'username':"",
          "email":"",
          "pwd":""
        },
        errors: [],
        errors2: []
    }),
  computed: {
        ...mapState(['userInfoFom', 'processingLoginError', 'isProcessing']),
    },
  mounted () {
      this.$store.dispatch('checkAccountData', 'UserInfoForm'),
      this.$store.dispatch('takeAccountIntoUserInfoForm'),
      this.form.name = this.userInfoFom.name,
      this.form.username = this.userInfoFom.username,
      this.form.email = this.userInfoFom.email,
      this.form.pwd = this.userInfoFom.pwd,
      this.inputUserName = this.userInfoFom.username,
      this.inputEmailName = this.userInfoFom.email
  },
  watch: {
    inputUserName (val) {
        axios.get(config.$api_url+'user/list_username/?username='+val).then(valid => {
          if(val != this.form.username){
          this.errors = !valid.data.bool ? [] : ['Username already registered with another account']
          }
        })
    },
    inputEmailName (val) {
        axios.get(config.$api_url+'user/get_by_email/?email='+val).then(valid => {
          if(val != this.form.email){
            this.errors2 = !valid.data.bool ? [] : ['Email already registered with another account']
          }
        })
    }
  },
  methods : {
    ...mapActions(["userUpdate", 'updateUserInfoFom', 'userLogout', 'resendConfirmationEmail']),
    async deleteUser(){
      axios
        .delete(config.$api_url+'user/' + this.userInfoFom.id +'/')
        .then(response => {
        if(response.data=='success'){
          this.userLogout();
          router.push({path: '/newDocument'});
        }
      });
    },
    save(){
      if (this.$refs.userInfoValidation.validate() && this.errors.length <= 0 && this.errors2.length <= 0){
        this.form.username=this.inputUserName;
        this.form.email= this.inputEmailName;
        this.updateUserInfoFom(this.form);
        this.userUpdate()
      }
    },
    matcherEmail(value) {
      if(value === this.inputEmailName){
        return true;
      } else{
        return 'Emails do not match!';
      }
    },
    matcherPassword(value) {
      if(value === this.form.pwd){
          return true;
        } else{
          return 'Passwords do not match!';
        }
    },
    sendNewEmail(){
      this.resendConfirmationEmail();
    }
  }
};
</script>
<style scoped>
.card-header{
  background-color:#eeeeee;
  color: #3771c8;
}
.btn.btn{
  color:#3771c8;
}
</style>